<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.winner.config.center.pojo.db.mapper.RegionMapper">
    <resultMap id="BaseResultMap" type="com.winner.config.center.pojo.db.entity.Region">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="region_name" property="regionName" jdbcType="VARCHAR"/>
        <result column="region_desc" property="regionDesc" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="DtoResultMap" type="com.winner.config.center.pojo.db.dto.RegionDto">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="region_name" property="regionName" jdbcType="VARCHAR"/>
        <result column="region_desc" property="regionDesc" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, region_name, region_desc, create_time, update_time
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from t_region
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_region
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.winner.config.center.pojo.db.entity.Region" useGeneratedKeys="true"
            keyColumn="id" keyProperty="id">
    insert into t_region (id, region_name, region_desc, 
      create_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{regionName,jdbcType=VARCHAR}, #{regionDesc,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.winner.config.center.pojo.db.entity.Region">
        insert into t_region
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="regionName != null">
                region_name,
            </if>
            <if test="regionDesc != null">
                region_desc,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="regionName != null">
                #{regionName,jdbcType=VARCHAR},
            </if>
            <if test="regionDesc != null">
                #{regionDesc,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.winner.config.center.pojo.db.entity.Region">
        update t_region
        <set>
            <if test="regionName != null">
                region_name = #{regionName,jdbcType=VARCHAR},
            </if>
            <if test="regionDesc != null">
                region_desc = #{regionDesc,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.winner.config.center.pojo.db.entity.Region">
    update t_region
    set region_name = #{regionName,jdbcType=VARCHAR},
      region_desc = #{regionDesc,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="pageRegion" resultMap="DtoResultMap">
        select id, region_name, region_desc, create_time, update_time
        <!-- <include refid="Base_Column_List"/> -->
        from t_region
        <where>1=1
            <if test="regionName != null and regionName != ''">
                and region_name like '%${regionName}%'
            </if>
            <if test="createTime != null">
                and create_time &gt;= #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time &lt;= #{updateTime}
            </if>
        </where>
    </select>

    <select id="selectRegion" resultType="com.winner.config.center.pojo.db.dto.RegionDto">
        select t.id as id,t.region_name as regionName from  t_region t
        </select>

    <delete id="batchDelete">
        delete from t_region where id in
        <foreach collection="idArr" item="id" separator="," index="index" open="(" close=")">
            #{id}
        </foreach>
    </delete>
</mapper>