<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiao.custom.config.pojo.mapper.ServerHostConfigMapper">
    <resultMap id="BaseResultMap" type="com.xiao.custom.config.pojo.entity.ServerHostConfig">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="server_host" property="serverHost" jdbcType="VARCHAR"/>
        <result column="server_desc" property="serverDesc" jdbcType="VARCHAR"/>
        <result column="region_id" property="regionId" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="DtoResultMap" type="com.xiao.custom.config.pojo.dto.ServerHostConfigDto">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="server_host" property="serverHost" jdbcType="VARCHAR"/>
        <result column="server_desc" property="serverDesc" jdbcType="VARCHAR"/>
        <result column="region_id" property="regionId" jdbcType="BIGINT"/>
        <result column="region_name" property="regionName" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, server_host, server_desc, region_id, create_time, update_time
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from t_server_host_config
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_server_host_config
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.xiao.custom.config.pojo.entity.ServerHostConfig" useGeneratedKeys="true"
            keyColumn="id" keyProperty="id">
    insert into t_server_host_config (id, server_host, server_desc, 
      region_id, create_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{serverHost,jdbcType=VARCHAR}, #{serverDesc,jdbcType=VARCHAR}, 
      #{regionId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.xiao.custom.config.pojo.entity.ServerHostConfig">
        insert into t_server_host_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="serverHost != null">
                server_host,
            </if>
            <if test="serverDesc != null">
                server_desc,
            </if>
            <if test="regionId != null">
                region_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="serverHost != null">
                #{serverHost,jdbcType=VARCHAR},
            </if>
            <if test="serverDesc != null">
                #{serverDesc,jdbcType=VARCHAR},
            </if>
            <if test="regionId != null">
                #{regionId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.xiao.custom.config.pojo.entity.ServerHostConfig">
        update t_server_host_config
        <set>
            <if test="serverHost != null">
                server_host = #{serverHost,jdbcType=VARCHAR},
            </if>
            <if test="serverDesc != null">
                server_desc = #{serverDesc,jdbcType=VARCHAR},
            </if>
            <if test="regionId != null">
                region_id = #{regionId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.xiao.custom.config.pojo.entity.ServerHostConfig">
    update t_server_host_config
    set server_host = #{serverHost,jdbcType=VARCHAR},
      server_desc = #{serverDesc,jdbcType=VARCHAR},
      region_id = #{regionId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="pageServerHostConfig" resultMap="DtoResultMap">
        select
        s.id, s.server_host, s.server_desc,s.region_id,r.region_name, s.create_time, s.update_time
        from t_server_host_config s
        left join t_region r on s.region_id=r.id
        <where>
            <if test="serverHost != null and serverHost!=''">
                and s.server_host like '%${serverHost}%'
            </if>
            <if test="serverDesc != null and serverDesc!=''">
                and s.server_desc like '%${serverDesc}%'
            </if>
            
            <!--<if test="createTime != null and createTime !=''">-->
            <!--&lt;!&ndash; create_time like '%${createTime}%' &ndash;&gt;-->
            <!--and s.create_time &gt;= #{createTime}-->
            <!--</if>-->
            <!--<if test="updateTime != null and ">-->
            <!--&lt;!&ndash; update_time like '%${updateTime}%' &ndash;&gt;-->
            <!--and s.update_time &lt;= #{updateTime}-->
            <!--</if>-->
        </where>
    </select>
</mapper>